/* GENERAL SETTINGS */

:root /* set colours for the page */
{
    --main-color: #8C9EFF;
    --highlights: #546E7A;
}

body /* settings for the whole page: font type
and centering the page so that it doesn't take up 
the whole screen */
{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:auto;
}

i /* give colours to icons */
{
    color: var(--main-color);
}

/* title only used for smaller screens */
#header_left
{
    display: none;
}

/* PAGE LAYOUT */
#page_top /* set the top of the page side by side*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left_side
{
    background-color: var(--main-color) ;
    width: 20%; /* give size of left section */
    display: flex;
    flex-direction: column;
}

#main_text
{
    width: 70%; /* give size of right section */
}

#footer /* set the bottom of the page side by side */
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hobbies /* match background colour and section size to 
the top left section */
{
    background-color: var(--main-color) ;
    width: 20%;
}

#recommendations /* match section size to the top right
section */
{
    width: 70%;
}


/* LEFT SECTION FORMAT */
/*Photo size and position */
#photo
{
    height: 180px;
    width: 180px;
    align-self: center;
    margin: 7% 0% 5% 0%;
}

/* Titles format */
#left_side h1
{
    background-color: var(--highlights);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px;
}

#contact_text
{
    text-align: left;
    padding: 2% 2% 2% 7%;
}

#about_text
{
    text-align: justify;
    padding: 0% 7% 0% 7%;
}

#hobbies h1
{
    background-color: var(--highlights);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px;
}

#hobbies i
{
    color: var(--highlights);
}

#icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
}

/* RIGHT SECTION FORMAT */
/* Name and subtitle */
#header
{
    padding: 2%;
}

#header h1
{
    font-size: 3em;
    font-weight: normal;
    padding: 0%;
    margin-bottom: 0.5%;
    color: var(--highlights);
}

#first_name
{
    color: var(--main-color);
}

#job
{
    font-size: 1.7em;
    margin-top: 0%;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    color: var(--highlights);
}

#job:before
{
    content: "";
    border-bottom: 2px var(--main-color) solid;
    position: absolute;
    width: 30%;
    bottom: 0;
}

/* Grid titles */
#main_text h2, #recommendations h1
{
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0% 0% 0.5% 2%;
    border-bottom: 2px var(--main-color) solid;
    color: var(--highlights);
}

#main_text i, #recommendations i
{
    padding-right: 1%;
}

/* GRIDS: Education and Experience */
/* Alining the squares */ 
.line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date
{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info
{
    width: 70%;
}

#main_text p
{
    text-align: justify;
}

.grid i
{
    margin: 0% 4% 0% 4%;
}

.grid
{
    margin-bottom: 5%;
}

/* formatting the different levels of the text */
#main_text h3
{
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0% 0% 0.7% 0%;
}

#main_text h4
{
    font-size: 1.1em;
    font-weight: normal;
    margin: 0% 0% 0.7% 0%;
}

.grid p
{
    margin-top: 0%;
}

/* Recommendations Grid */
#r_grid
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

#recommendation1
{
    margin-right: 30%;
}

#r_grid h2
{
    font-size: 1.2em;
    text-transform: uppercase;
}


/* RESPONSIVE */
@media all and (max-width: 1024px)
{
    #full_text /* center page on the screen */
    {
        width: 100%;
    }

    #page_top /* change alignement of the top of the page */
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #left_side
    {
        width: 100%;
    }

    #main_text
    {
        width: 100%;
    }

    /* remove original header and display 
    header_left instead for a nicer mobile site */
    #header
    {
        display: none;
    }

    #header_left
    {
        display: block;
        text-align: center;
    }

    /* format title that is now visible */
    #header_left h1
    {
        font-size: 3em;
        background-color: var(--main-color);
        color: var(--highlights);
        margin-bottom: 0%;
    }

    #job_left
    {
        margin-top: 0%;
        font-size: 1.7em;
        color: var(--highlights);
        position: relative;
        display: inline-block;
        padding-bottom: 0.5%;
    }

    #job_left:before
    {
        content: "";
        border-bottom: 2px white solid;
        position: absolute;
        width: 30%;
        bottom: 0;
    }

    #footer /* change alinement of foot of page */
    {
        display: flex;
        flex-direction: column;
    }

    #hobbies
    {
        width: 100%;
    }

    #recommendations
    {
        width: 100%;
    }


}