/* GENERAL SETTINGS */

:root /* set colours for the page */
{
    --main-color: #195190FF;
    --highlights: #A2A2A1FF;
}

body /* settings for the whole page: font type
and centering the page so that it doesn't take up 
the whole screen */
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin:auto;
}

i /* give colours to icons */
{
    color: var(--main-color);
}

/* title only used for smaller screens */
#header_left
{
    display: none;
}

/* PAGE LAYOUT */
#page_top /* set the top of the page side by side*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside
{
    background-color: var(--main-color) ;
    width: 30%; /* give size of left section */
    display: flex;
    flex-direction: column;
}

main
{
    width: 65%; /* give size of right section */
}

footer /* set the bottom of the page side by side */
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hobbies /* match background colour and section size to 
the top left section */
{
    background-color: var(--main-color) ;
    width: 30%;
}

#recommendations /* match section size to the top right
section */
{
    width: 65%;
}


/* LEFT SECTION FORMAT */
/*Photo size and position */
#photo
{
    height: 200px;
    width: 200px;
    align-self: center;
    margin: 21% 0% 5% 0%;
    border: 5px var(--highlights) solid;
    border-radius: 50%;
}

/* Titles format */
aside h3
{
    background-color: var(--highlights);
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px;
    margin-top: 8%;
}

aside p{
    color: white;
}

#contact_text
{
    text-align: left;
    padding: 2% 2% 2% 7%;
}

#about_text
{
    text-align: justify;
    padding: 0% 7% 0% 7%;
}

#hobbies h3
{
    background-color: var(--highlights);
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px;
}

#hobbies i
{
    color: var(--highlights);
}

#icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
}

/* RIGHT SECTION FORMAT */
/* Name and subtitle */
main header
{
    padding: 2%;
    margin-top: 10%;
}

main header h1
{
    font-size: 4em;
    font-weight: normal;
    padding: 0%;
    margin: 6% 0% 0.5% 0%;
    text-transform: uppercase;
}

strong
{
    color: var(--main-color);
    font-weight: 500;
}

#job
{
    font-size: 2em;
    margin-top: 0%;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
}

#job:before
{
    content: "";
    border-bottom: 2px var(--main-color) solid;
    position: absolute;
    width: 30%;
    bottom: 0;
}

/* Grid titles */
main h2, #recommendations h2
{
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0% 0% 0.5% 2%;
    border-bottom: 2px var(--main-color) solid;
}

main i, #recommendations i
{
    padding-right: 1%;
}

/* GRIDS: Education and Experience */
/* Alining the squares */ 
.line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.date
{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info
{
    width: 65%;
    padding-left: 1%;
}

.outer_point
{
    box-sizing: border-box;
    border: 2px var(--main-color) solid;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
}

.inner_point
{
    background-color: var(--main-color);
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
}

.point
{
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 5px;
}

.date p
{
    padding-left: 20px;
}

main p
{
    text-align: justify;
}

.grid
{
    margin-bottom: 5%;
}

/* formatting the different levels of the text */
main h3
{
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0% 0% 4% 0%;
}

main h4
{
    font-size: 1.1em;
    font-weight: normal;
    margin: 0% 0% 4% 0%;
}

.grid p
{
    margin-top: 1.5%;
}

/* Recommendations Grid */
#r_grid
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

#recommendation2
{
    margin-right: 20%;
}

#r_grid h2
{
    font-size: 1.2em;
    text-transform: uppercase;
}


/* RESPONSIVE */
@media all and (max-width: 1024px)
{
    #full_text /* center page on the screen */
    {
        width: 100%;
        box-sizing: border-box;
        padding: 0% 5% 0% 5%;
    }

    #page_top /* change alignement of the top of the page */
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside
    {
        width: 100%;
    }

    main
    {
        width: 100%;
    }

    /* remove original header and display 
    header_left instead for a nicer mobile site */
    main header
    {
        display: none;
    }

    #header_left
    {
        display: block;
        text-align: center;
    }

    /* format title that is now visible */
    #header_left h2
    {
        font-size: 3em;
        background-color: var(--main-color);
        color: var(--highlights);
        margin-bottom: 0%;
    }

    #job_left
    {
        margin-top: 0%;
        font-size: 1.7em;
        color: var(--highlights);
        position: relative;
        display: inline-block;
        padding-bottom: 0.5%;
    }

    #job_left:before
    {
        content: "";
        border-bottom: 2px white solid;
        position: absolute;
        width: 30%;
        bottom: 0;
    }

    #about
    {
        padding-bottom: 5%;
    }

    footer /* change alinement of foot of page */
    {
        display: flex;
        flex-direction: column;
    }

    #hobbies
    {
        width: 100%;
    }

    #recommendations
    {
        width: 100%;
    }

    /* Change size of grid titles so they can fit entirely on smaller screens*/
    main h2, #recommendations h1
    {
        font-size: 1.7em;
        font-weight: normal;
    }

    /* change grids to full-sized columns*/
    .line
    {
        display: flex;
        flex-direction: column;
    }

    .date
    {
        width: 100%;
    }

    .date br
    {
        display: none;
    }

    .info
    {
        width: 100%;
    }

    /* reorganisation of references for easier reading */
    
    #recommendation1
    {
        width: 50%;
        padding: 0% 5% 0% 0%;
    }

    #recommendation2
    {
        width: 50%;
        margin-right: 0%;
        padding: 0% 0% 0% 5%;
    }

    #recommendations h3
    {
        font-size: 1em;
        font-weight: bold;
    }


}